.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 60p 0px;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    list-style-type: none;
    padding-right: 20px;
    border-right: 1px solid #EDEDED;
    > li{
        display:inline-block;
        >a {
            display: block;
            font-size: 16px;
            color:#222;
            padding: 0px 12px;
            text-decoration: none;

        }

    }
}
.buttons{
    display: flex;
    align-items: center;
    padding-left: 20px;

    >button{
        cursor: pointer;
        outline: none;
        
    }
}

.login-button{
    font-size: 16px;
    color:#222;
    padding: 0px 6px;
    background-color: red;
   
}
.sign-up-button{
color:#222;
background-color: blue;
margin-left: 15px;
padding: 0px 6px;

}