.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    list-style-type: none;
    > li{
        display:inline-block;
        >a {
            display: block;
        }
    }
}